/*
|||||||||||||||||||||||||||||||
------------------------------------------------
 ADMIN.SCSS  
------------------------------------------------
Author : Muhammad alendra
------------------------------------------------
Github : https://github.com/opsahmad
------------------------------------------------

------------------------------------------------
Dependencies :
------------------------------------------------
Bootstrap4
-----------------------------------------------
Google fonts: Libre frankin
------------------------------------------------

------------------------------------------------
Content :                                                       
-------------------------------------------------
1. color                                                          
-------------------------------------------------
2. typography                                                
-------------------------------------------------
3. tables                                                         
-------------------------------------------------
4. breadcrumb                                               
-------------------------------------------------
5. buttons                                                      
-------------------------------------------------
6. modals                                                       
-------------------------------------------------
7. typography                                                
-------------------------------------------------
8. form                                                           
-------------------------------------------------
8. ui                                                                
-------------------------------------------------
9. pages                                                         
-------------------------------------------------                                
*/

/* 
|||||||||||||||||||||||||||||||
fonts 
|||||||||||||||||||||||||||||||
*/
/* font-family: 'Libre Franklin', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Roboto&display=swap');

/* 
|||||||||||||||||||||||||||||||
color 
|||||||||||||||||||||||||||||||
*/
/* variable */
$lightBlue : rgb(102, 206, 216);
$blue : #0093b7ff;
$blueDark : #005f89ff;
$gradientBlue :  linear-gradient(top,$lightBlue,$blue);
$danger : rgb(241, 93, 93);
$dangerDark : rgb(216, 61, 61);
$success : rgb(30, 190, 78);
$successDark : rgb(19, 156, 60);
$warning : rgb(241, 198, 78);
$warningDark : rgb(221, 180, 67);
$secondary : rgb(160, 160, 160);
$secondaryDark : rgb(131, 131, 131);
$white : rgb(255, 255, 255);
$black : rgb(0, 0, 0);
$light : rgb(210, 210, 210);
$dark : rgb(45, 45, 45);
/* class */
.color-primary{color: $blue;} .color-dark-primary{color: $blueDark;} .color-light-primary{color:$lightBlue} .color-danger{color: $danger;} .color-success{color:$success} .color-warning{color:$warning}
.color-secondary{color:$secondary} .color-white{color:$white} .color-black{color:$black} .color-light{color:$light} .color-dark{color:$dark}

/* 
|||||||||||||||||||||||||||||||
Animation
|||||||||||||||||||||||||||||||
*/
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.02);
    }
    100%{
        transform: scale(1);
    }
}

/* 
|||||||||||||||||||||||||||||||
Typography
|||||||||||||||||||||||||||||||
*/
.fs-1 { font-size:54px }; .fs-2 { font-size:44px }; .fs-3 { font-size:36px }; .fs-4 { font-size:24px }; .fs-5 { font-size:18px };
.fs-6 { font-size:16px }; .fs-7 { font-size:14px }; .fs-8 { font-size:12px }; .fs-9 { font-size:10px }; .fs-10 { font-size:8px };
@media screen and (min-width:576px)
{
    .fs-sm-1 { font-size:54px }; .fs-sm-2 { font-size:44px }; .fs-sm-3 { font-size:36px }; .fs-sm-4 { font-size:24px }; .fs-sm-5 { font-size:18px };
    .fs-sm-6 { font-size:16px }; .fs-sm-7 { font-size:14px }; .fs-sm-8 { font-size:12px }; .fs-sm-9 { font-size:10px }; .fs-sm-10 { font-size:8px };
}
@media screen and (min-width:768px)
{
    .fs-md-1 { font-size:54px }; .fs-md-2 { font-size:44px }; .fs-md-3 { font-size:36px }; .fs-md-4 { font-size:24px }; .fs-md-5 { font-size:18px };
    .fs-md-6 { font-size:16px }; .fs-md-7 { font-size:14px }; .fs-md-8 { font-size:12px }; .fs-md-9 { font-size:10px }; .fs-md-10 { font-size:8px };
} 
@media screen and (min-width:992px) 
{
    .fs-lg-1 { font-size:54px }; .fs-lg-2 { font-size:44px }; .fs-lg-3 { font-size:36px }; .fs-lg-4 { font-size:24px }; .fs-lg-5 { font-size:18px };
    .fs-lg-6 { font-size:16px }; .fs-lg-7 { font-size:14px }; .fs-lg-8 { font-size:12px }; .fs-lg-9 { font-size:10px }; .fs-lg-10 { font-size:8px };
} 
@media screen and (min-width:1200px) 
{
    .fs-xl-1 { font-size:54px }; .fs-xl-2 { font-size:44px }; .fs-xl-3 { font-size:36px }; .fs-xl-4 { font-size:24px }; .fs-xl-5 { font-size:18px };
    .fs-xl-6 { font-size:16px }; .fs-xl-7 { font-size:14px }; .fs-xl-8 { font-size:12px }; .fs-xl-9 { font-size:10px }; .fs-xl-10 { font-size:8px };
} 
@media screen and (max-width:575px)
{
    .fs-xs-1 { font-size:54px }; .fs-xs-2 { font-size:44px }; .fs-xs-3 { font-size:36px }; .fs-xs-4 { font-size:24px }; .fs-xs-5 { font-size:18px };
    .fs-xs-6 { font-size:16px }; .fs-xs-7 { font-size:14px }; .fs-xs-8 { font-size:12px }; .fs-xs-9 { font-size:10px }; .fs-xs-10 { font-size:8px };
}
.txt-strike{text-decoration: line-through;}
.txt-underline{text-decoration: underline;}
.txt-overline{text-decoration: overline;}
.txt-full-strike{text-decoration: underline line-through overline;}
.txt-wavy{text-decoration: #000 underline overline wavy;}
.txt-normal{font-style: normal;}
.txt-italic{font-style: italic;}
.txt-bold{font-weight: bold;}

/* 
|||||||||||||||||||||||||||||||
UI
|||||||||||||||||||||||||||||||
*/
.preloader{ display: flex; justify-content: center; align-items: center; position: fixed; width: 100%;
    height: 100%; top: 0; left: 0; background-color: rgba($color: #fff, $alpha: 0.7); z-index: 125;
    &.hide{ display: none; }
    img{ height: 40px; animation-name: scale; animation-duration: 1s; animation-timing-function: linear; animation-iteration-count: infinite;}
}
*{ padding: 0; scroll-behavior: smooth; scroll-margin-top: 100px; font-family: 'Libre Franklin', sans-serif; }
.pointer{ cursor: pointer; }
#pageContent{ position: relative; min-width: 320px; width: 100%; overflow: hidden; .content{padding-bottom: 60px;} }
h1.section-title{ color: #666666; font-size: 24px; }
.bg{
    &-white{background: $white !important;}
    &-light{background: $light !important;}
    &-black{background: $black !important;}
    &-dark{background: $dark !important;}
    &-danger{background: $danger !important;}
    &-success{background: $success !important;}
    &-warning{background: $warning !important;}
    &-gradient{background: $gradientBlue !important;}
    &-secondary{background: $secondary !important;}
    &-primary{background: $blue !important;}
    &-primary-light{background: $lightBlue !important;}
    &-primary-dark{background: $blueDark !important}
}
.line{ border: rgba($color: #000000, $alpha: 1.0) 1px solid;
    &.white{ border: rgba($color: #ffffff, $alpha: 1.0) 1px solid; }
}
.line-0-5{ border: rgba($color: #000000, $alpha: 0.5) 1px solid;
    &.white{ border: rgba($color: #ffffff, $alpha: 0.5) 1px solid; }
}
.shadow{ box-shadow: 0px 0px 2px 0 rgba($color: #000, $alpha: 0.2); }
.shadow-strong{ box-shadow: 0px 0px 9px  rgba($color: #000, $alpha: 0.2); }
.shadow-top{ box-shadow: 6px 0px 6px 0 rgba($color: #000, $alpha: 0.2); }
.shadow-top-strong{ box-shadow: 9px 0px 9px 0 rgba($color: #000, $alpha: 0.2); }
.shadow-bottom{ box-shadow: 0 4px 4px 0 rgba($color: #000, $alpha: 0.2); }
.shadow-bottom-strong{ box-shadow: 0 9px 9px 0 rgba($color: #000, $alpha: 0.2); }

/* 
|||||||||||||||||||||||||||||||
form 
|||||||||||||||||||||||||||||||
*/
.form-group{
    .file-upload{
        position: relative; background: transparent;  width: 100%; min-height: 140px; display: flex;flex-direction: column; 
        justify-content: center; align-items: center; color: $blue; border-radius: 5px; border: 2px dashed $blue; transition: 0.2s;
        input[type=file]{    opacity: 0; width: 100%; height: 100%; position: absolute; }
        &:hover{background: rgba($color: $lightBlue, $alpha: 0.2)}
        img{height: 100px;}
        video{height: 200px;}
    }
}
input{ &:focus,&:active{ border: 1px solid $blue !important; box-shadow: none !important; } }
select{ &:focus,&:active{ border: 1px solid $blue !important; box-shadow: none !important; } }

/* 
|||||||||||||||||||||||||||||||
tables
|||||||||||||||||||||||||||||||
*/

/* 
|||||||||||||||||||||||||||||||
card
|||||||||||||||||||||||||||||||
*/
.card{
    &.card-image{
        img{
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    @media screen and (max-width:1199px){ &.card-image{ img{ height: 145px; } } }
    @media screen and (max-width:991px){ &.card-image{ img{ height: 225px; } } }
    @media screen and (max-width:557px){ &.card-image{ img{ height: 150px; } } }
    @media screen and (max-width:475px){ &.card-image{ img{ height: 130px; } } }
    @media screen and (max-width:340px){ &.card-image{ img{ height: 110px; } } }
    }
    &.card-news{
        height: fit-content;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media screen and (max-width:1199px){ &.card-image{ img{ height: 145px; } } }
        @media screen and (max-width:991px){ &.card-image{ img{ height: 225px; } } }
        @media screen and (max-width:557px){ &.card-image{ img{ height: 150px; } } }
        @media screen and (max-width:475px){ &.card-image{ img{ height: 130px; } } }
        @media screen and (max-width:340px){ &.card-image{ img{ height: 110px; } } }
    }
    &.card-profile{
        height: fit-content;
        img{
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 100%;
        }
        @media screen and (max-width:1199px){ &.card-image{ img{ height: 145px; } } }
        @media screen and (max-width:991px){ &.card-image{ img{ height: 225px; } } }
        @media screen and (max-width:557px){ &.card-image{ img{ height: 150px; } } }
        @media screen and (max-width:475px){ &.card-image{ img{ height: 130px; } } }
        @media screen and (max-width:340px){ &.card-image{ img{ height: 110px; } } }
    }
    &.card-header{
        height: fit-content;
        .icon{
            font-size: 48px;
        }
    }
}

/* 
|||||||||||||||||||||||||||||||
buttons
|||||||||||||||||||||||||||||||
*/
.btn{ 
    &.btn-primary{ background-color: $blue !important; color: #fff; transition: 0.2s; 
        &:hover{ background-color: $blueDark !important; color: #fff; }
     }
    &.btn-info{ background-color: $lightBlue !important; color: #fff; transition: 0.2s; 
        &:hover{ background-color: rgb(71, 199, 231) !important; color: #fff; }
     }
     &.btn-white{ background-color: $white !important; color: #000; transition: 0.2s; 
        &:hover{ background-color: $light !important; color: rgb(0, 0, 0); } }
     &.btn-black{ background-color: $dark !important; color: #fff; transition: 0.2s; 
        &:hover{ background-color: $black !important; color: rgb(255, 255, 255); } }
     &.btn-secondary{ background-color: $secondary !important; color: #fff; transition: 0.2s; 
        &:hover{ background-color: $secondaryDark !important; color: #fff; } }
     &.btn-success{ background-color: $success !important; color: #fff; transition: 0.2s; 
        &:hover{ background-color: $successDark !important; color: #fff; } }
     &.btn-outline-success{ background-color: transparent !important; color: $success; border: 1px solid $success; transition: 0.2s; 
        &:hover{ background-color: $success !important; color: #fff; } }
     &.btn-danger{ background-color: $danger !important; color: #fff;transition: 0.2s;
         &:hover{ background-color: $dangerDark !important; }
     }
     &.btn-outline-danger{ background-color: transparent !important; color: $danger; border: 1px solid $danger; transition: 0.2s;
         &:hover{ background-color: $danger !important; color: #fff; }
     }
     &.btn-warning{ background-color: $warning !important; color: #fff;transition: 0.2s;
        &:hover{ background-color: $warningDark !important; }
    }
    &.btn-outline-warning{ background-color: transparent !important; color: $warning; border: 1px solid $warning; transition: 0.2s;
        &:hover{ background-color: $warning !important; color: #fff; }
    }
 }
 button{
     &:focus,&:active{ border: 0px !important; box-shadow: none !important; }
 }

/* 
|||||||||||||||||||||||||||||||
modals POPUP
|||||||||||||||||||||||||||||||
*/
.popup{ position: fixed; top: 0; left: 0; height: 100%; width: 100%; background: rgba($color: $black, $alpha: 0.4);
    z-index: 100; display: none; justify-content: center; align-items: center; padding: 20px;
    &.show{display: flex;}
    .box{ background: #fff; border-radius: 10px; height: fit-content; max-height: 80%; width: 100%; max-width: 400px; min-height: 300px; display: flex; flex-direction: column;
        .header{ border-bottom: 1px solid rgba(0, 0, 0, 0.555); padding: 10px 20px; margin-bottom: 10px; }
        .footer{ border-top: 1px solid rgba(0, 0, 0, 0.555); margin-top: 10px; padding: 10px 20px; display: flex; width: 100%; justify-content: flex-end; }
        .header,.footer{ height: 70px; }
        .body{ padding: 0px 20px; height: 100%; overflow-y: auto; }
    }
}

/* 
|||||||||||||||||||||||||||||||
navigation  
|||||||||||||||||||||||||||||||
*/
.sidebar{
    position: relative; z-index: 70; width: 300px; min-height: 100vh; max-width: 300px; 
    background:$gradientBlue; text-align: center; transition: 0.2s; padding-left: 50px; padding-right: 20px;
    .wrap{ height: 100%; position: fixed; }
    .bars{ margin: 25px 0; cursor: pointer;
        div{ width: 25px; height: 4px; border-radius: 7px; margin: 5px 0; background-color: #fff; transition: 0.2s; }
        &:hover{ 
            div{ opacity: 1; } 
        }
    }
    ul{
        li{ list-style: none;
            &.active{  font-weight: bold;
                a{ font-size: 24px; }
                &:hover{
                    a{ font-size: 24px; }
                }
            }
            &:hover{
                a{ font-size: 18.5px; }
            }
            a{ color: #ffffff; text-decoration: none; font-size: 18px; opacity: 0.6; transition: 0.2s;
                &:hover,&.active{
                    opacity: 1;
                }
            }
        }
    }
    &.small{ padding-left: 30px; width: 80px;
        .sidebar-title{
            display: none;
        }
    }
}

.bottom-nav { position: fixed; background: #fff; bottom: 0px; left: 0px; width: calc(100% - 0px); 
    z-index: 50; border-radius: 0px 0px 0 0; box-shadow: 0 0px 5px 0 rgba($color: #000000, $alpha: 0.2);
    .block{ min-width: 25%;
        .icon{ font-size: 28px; }
        .text{ font-size: 12px; }
    }
    a{ text-decoration: none;
        color: #000; opacity: 0.6;
        &.active{ opacity: 1; color: $blue; }
        &:hover{ opacity: 1; }
    }
}
.nav-admin{ min-width: 320px; height:80px; padding: 5px 0 ; position: relative;
    box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.2); z-index: 60;
    .logo{
        img{ height: 24px; }
    }       
    @media screen and (max-width:575px)
    {
        .logo{
            img{ max-width: 150px; object-fit: contain; }
        }       
    }
    @media screen and (max-width:375px)
    {
        .logo{
            img{ max-width: 100px; object-fit: contain; }
        }       
    }
    .section-title{
        h1{ font-size: 24px; font-weight: normal; }
    }
    .profile{ background: linear-gradient(bottom,rgb(243, 243, 243),rgb(243, 243, 243)); border-radius: 10px; transition: 0.2s ;
        &.focus{ background: $gradientBlue;
            .button{ color: #fff; }
        }
        img{ width: 40px; height: 40px; object-fit: cover; }
        .profile-popup{ width: 165px; position: absolute; right: 45px; top: 71px;
            background: $gradientBlue; padding: 20px; border-radius: 8px; height: auto; transition: 0.2s;
            &.hide{ height: 0; padding: 0 20px; overflow: hidden; }
            ul{
                li{ list-style: none;
                    a{ color:#fff; transition: 0.2s; text-decoration: none;
                        &:hover{ opacity: 1; font-weight: bold; }
                    }
                }
            }
        }
        @media screen and (max-width: 991px)
        {
            .profile-popup{ right: 20px; }
        }
        @media screen and (max-width: 767px)
        {
            .profile-popup{ width: 140px; right: 15px; }
        }
    }
    .bell{ font-size: 24px; }
    .notification-popup{ position: absolute; top: 100px; right: 20px; background: rgb(250, 250, 250);
        border-radius: 10px; box-shadow:0 0 7px 0 rgba($color: #000000, $alpha: 0.2); padding: 20px;
        width: 400px; transform: translateX(0%); transition: 0.2s;
        /* hide notification */
        &.hide{ right: 0px; transform: translateX(100%); }
        .title{ font-size: 24px; color: $blue; }
        .item{ font-size: 16px; color:$blue }
    }
    @media screen and (max-width: 574px)
    {
        .notification-popup{ width: calc(100% - 40px); }
    }
    .buble-notification{ position: absolute; background-color: #f35454; border-radius: 100%; min-width: 20px;
        min-height: 16px; padding: 2px; font-size: 12px; text-align: center; color: #fff;
    }
}
.notif-and-profile{ width: fit-content; }

/* 
|||||||||||||||||||||||||||||||
pages
|||||||||||||||||||||||||||||||
*/
#AdminDashboard{
    .card{
        .title{
            font-size: 24px;
            opacity: 0.7;
        }
    }
}
#profileAdmin{
    #profileCardAdmin{
        margin-top: -150px;
        .card{
            .title{
                font-size: 20px;
            }
        }
    }
    .profile{
        .person{
            img{
                width: 120px;
                height: 120px;
                object-fit: cover;
                object-position: center;
            }
        }
        .icon{
            position: absolute;
            top: 110px;
            margin-right: -60px;
        }
    }
    .name{
        font-size: 24px;
    }
}
#headerAdminProfile{
    background: url(../image/banner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}
#OrderDashboard{
    .top{
        .sort{
            .caption{
                color:#666666
            }
        }
    }
}

